.peri_attrs_container {
    width: 100vw;
    height: 100vh;

    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 100vw);

    overflow: hidden;
}

.periattr_container {
    /* VARIABLES: START */
    
    --border-color: transparent;
    --border-thickness: 4px;
    --border-thickness-axis: var(--border-thickness) var(--border-thickness) var(--border-thickness) var(--border-thickness);

    /* VARIABLES: END */

    flex: 1;

    position: relative;

    display: grid;
    place-items: center;

    background: var(--primary, purple);

    border: solid var(--border-color);
    border-width: var(--border-thickness-axis);

    padding: .75rem;
}

.periattr_container:first-child {
    --border-color: white;
    --border-thickness-axis: 0 var(--border-thickness) 0 0;
}

.periattr_container:nth-child(2) {
    --border-color: white;
    --border-thickness-axis: 0 0 0 var(--border-thickness);
}